<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dev">

    <!-- 请求访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 请求访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 声明使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_a_collect"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.example.dev.utils.MyGlideModule"
            android:value="GlideModule"/>
        <!-- 以下两个activity的声明用来打开图片选择器界面 -->
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.Default"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.Default"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BlankActivity"/>
        <activity
            android:name=".activity.TextDemoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CoverFlowDemoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LikeIosDialogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CityPickerActivity"/>
        <activity android:name=".activity.GalleryActivity"/>
        <activity android:name=".activity.TabLayDemoActivity"/>
        <activity android:name=".activity.MaterialDialogActivity"/>
        <activity
            android:name=".activity.AppbarLayActivity"
            android:theme="@style/MDTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.recycler.RvMultiFuncActivity"/>
        <activity android:name=".activity.recycler.SwipeRVDemoActivity"/>
        <activity android:name=".activity.BMImgClickActivity"/>
        <activity android:name=".activity.CBannerActivity"/>
        <activity
            android:name=".activity.TextInputLayActivity"
            android:theme="@style/MDTheme"/>
        <activity
            android:name=".activity.GSYVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GSYPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VideoTheme"/>
        <activity
            android:name=".activity.GSYPlayerRVDisActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GSYPlayerRVMiniActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HpplayActivity"
            android:configChanges="screenSize|orientation"/>
    </application>

</manifest>